<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
  xmlns:dotnet="http://schemas.microsoft.com/wix/NetFxExtension">
  <Bundle Name="Facebook Messenger" Version="1.0.0.0" Manufacturer="Digital Paradox" UpgradeCode="d19190c6-d8aa-4a94-af60-0ab97558fcc5">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

    <Chain>
      <!-- TODO: Define the list of chained packages. -->
      <!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
      <PackageGroupRef Id="DOTNET46"/>
      <PackageGroupRef Id="PEPPERFLASH22"/>
      <!--<PackageGroupRef Id="FACEBOOKMESSENGER" After="PEPPERFLASH22"/>-->
    </Chain>
  </Bundle>
  <Fragment>

    <Property Id="PEPPER_FLASH_VERSION">
      <DirectorySearch Id="PepperFlashVersion" Path="[SystemFolder]\Macromed\Flash">
        <FileSearch Name="Flash.ocx" MinVersion="21"/>
      </DirectorySearch>
    </Property>

    <PackageGroup Id="PEPPERFLASH22">
      <ExePackage  Id="PEPPERFLASH22PKG"
                   SourceFile=".\Deploy\install_flash_player_22_ppapi.exe"
                   InstallCondition="Installed OR PEPPER_FLASH_VERSION"
                  />
    </PackageGroup>
  </Fragment>
  <Fragment>
    <PackageGroup  Id="DOTNET46">
      <ExePackage InstallCondition="Installed OR WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED" SourceFile=".\Deploy\DotNet46.exe"/>
    </PackageGroup>
  </Fragment>
  <Fragment>
    <Property Id="VCREDIST64_INSTALLED">
      <RegistrySearch Id="REG_VCREDIST64"
                      Root="HKLM"
                      Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\"
                      Name="Version"
                      Win64="yes"
                      Type="raw" />
    </Property>
    <Property Id="VCREDIST_INSTALLED">
      <RegistrySearch Id="REG_VCREDIST"
                      Root="HKLM"
                      Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\"
                      Name="Version"
                      Type="raw" />
    </Property>
    <PackageGroup Id="VCREDIST">
      <ExePackage SourceFile=".\binaries\vc_redist.x86.exe" InstallCondition="Installed OR VCREDIST64_INSTALLED OR VCREDIST_INSTALLED"/>
      <ExePackage SourceFile=".\binaries\vc_redist.x64.exe" InstallCondition="Installed OR VCREDIST64_INSTALLED OR VCREDIST_INSTALLED"/>
    </PackageGroup>
  </Fragment>
</Wix>
